pkgbase = xdg-terminal-exec
	pkgdesc = Proposed standard to launching desktop apps with Terminal=true
	pkgver = 0.12.3
	pkgrel = 1
	url = https://gitlab.freedesktop.org/Vladimir-csp/xdg-terminal-exec
	arch = any
	license = GPL-3.0-or-later
	checkdepends = bats
	makedepends = scdoc
	source = xdg-terminal-exec-0.12.3::https://gitlab.freedesktop.org/Vladimir-csp/xdg-terminal-exec/-/archive/v0.12.3/xdg-terminal-exec-v0.12.3.tar.gz
	sha256sums = 36e83306e012a17d98490ab8de468b3dcbab34f619cd85937ff2babc684f9bc0
	b2sums = 86c67ab8e7c63400d32d4526f907be22ab981d1ecfdfcdac3f15116ec4ef1b21da811a00205f4ee0941bf239a20c7c96e5d7dc17c327be4e3a89c71c001f4254

pkgname = xdg-terminal-exec
