pkgbase = xdg-terminal-exec
	pkgdesc = Proposed standard to launching desktop apps with Terminal=true
	pkgver = 0.12.0
	pkgrel = 1
	url = https://gitlab.freedesktop.org/Vladimir-csp/xdg-terminal-exec
	arch = any
	license = GPL-3.0-or-later
	checkdepends = bats
	makedepends = scdoc
	source = xdg-terminal-exec-0.12.0::https://gitlab.freedesktop.org/Vladimir-csp/xdg-terminal-exec/-/archive/v0.12.0/xdg-terminal-exec-v0.12.0.tar.gz
	sha256sums = 71abcfc50b1f408348097a29531b3621e50cc34de637bc73f14ef45f5021ae55
	b2sums = 0b05070dd8e169d8b19a1f041cc8df69008a8f246c743e41092cc876bd8561b18cc1463cf5a75de3b61020536251a92567b872ba7b3457bf8a5fa2cc65306346

pkgname = xdg-terminal-exec
